.background {
    min-height: 100vh;
    padding-top: 50px;
    background: fixed;
    
    background-image: url("/bg.png");
    

   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
 }
 .typeFont{
     
     padding-top: 225px;
     font-family: monospace;
     font-size: 30px;
    font-weight: bolder;
    color: white;
    
 }
 .fill{
    height: 100%;
    width: 100%;
 }